html, body, .container, #sidebar, #mapcontainer {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
}

#sidebar {
  background: #F0F0F0;
  width: 250px;
}

#mapcontainer {
  flex-grow: 1;
}

#legend-filter {
  z-index: 1;
  top: 50px;
  left: 250px;
  padding-bottom: 30px;
  padding-right: 15px;
  position: fixed;
}

#legend-filter::before {
  content: "";
  background-color: white;
  opacity: 0.7;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 30px;
}

#map-intro {
  font-family: sans-serif;
  font-size: 13px;
  margin: 10px;
}

.map-intro-heading {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}



#header {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin: 8px;
  margin-top: 8px;
  margin-bottom: 30px;
}

.map-intro-subheading {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
}

.both-button {
  font-family: sans-serif;
  font-size: 14px;
  color: black;
  margin-left: 30px;
  float: center;
  background-color:	#D8BFD8;
  border-color: #DA70D6;
  outline: none;
  position: relative;
}

.subway-button {
  font-family: sans-serif;
  font-size: 14px;
  color: black;
  margin-top: 3px;
  margin-left: 30px;
  float: center;
  background-color: #f1959b;
  border-color: #f07470;
  outline: none;
  position: relative;
}

.park-button {
  font-family: sans-serif;
  font-size: 14px;
  color: black;
  margin-top: 3px;
  margin-left: 30px;
  float: center;
  background-color: #a3a3ff;
  border-color: #7879ff;
  outline: none;
  position: relative;
}

#subway-legend-vals {
  display: none;
  position: absolute;
  top: 137px;
}

#park-legend-vals {
  display: none;
  position: absolute;
  top: 92px;
}

#subway-legend-vals button {
  border: 1px;
  font-size: 11px;
  font-family: sans-serif;
  color: black;
  float: left; /* Float the buttons side by side */
  height: 22px;
  width: 22px;
  opacity: 0.7;
}

#subway-legend-vals button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

#park-legend-vals button {
  border: 1px;
  font-size: 11px;
  font-family: sans-serif;
  color: black;
  display: block; /* Make the buttons appear below each other */
  height: 22px;
  width: 22px;
  opacity: 0.7;
}

#park-legend-vals button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.subway-button:hover {
  cursor: pointer;
  background-color: #ea4c46;
  color: white;
}

.park-button:hover {
  cursor: pointer;
  background-color: #4949ff;
  color: white;
}

.both-button:hover {
  cursor: pointer;
  background-color: #BA55D3;
  color: white;
}

#both-legend-vals {
  display: grid; /*so that we can layer the colors on top of each other*/
  margin-left: 50px;
  margin-top: 20px;
}

#subway-both {
  grid-column-start: 1;
  grid-row-start: 1;
  display: block;
}

#park-both {
  grid-column-start: 1;
  grid-row-start: 1;
  display: block;
}

#subway-both button {
  border: 1px;
  font-size: 11px;
  font-family: sans-serif;
  color: black;
  float: left; /* Float the buttons side by side */
  height: 66px;
  width: 22px;
  opacity: 0.7;
}

#subway-both button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

#park-both button {
  border: 1px;
  font-size: 11px;
  font-family: sans-serif;
  color: black;
  display: block; /* Make the buttons appear below each other */
  height: 22px;
  width: 66px;
  opacity: 0.7;
}

#park-both button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.selected-both-button-class {
  border-width: 2px;
  border-color: #9932CC;
  background-color: #BA55D3;
  outline: none;
  color: white;
}

.selected-subway-button-class {
  border-width: 2px;
  border-color: #dc1c13;
  background-color: #ea4c46;
  outline: none;
  color: white;
}

.selected-park-button-class {
  border-width: 2px;
  border-color: #1f1fff;
  background-color: #4949ff;
  outline: none;
  color: white;
}

a:visited {
  color: #0000EE;
}

#park-both-legend-vals {
  display: block;
  font-size: 11px;
  font-family: sans-serif;
  color: black;
  position: absolute;
  top: 95px;
  margin-left: 2px;
}

#subway-both-legend-vals {
  display: block;
  font-size: 11px;
  font-family: sans-serif;
  color: black;
  position: absolute;
  top: 143px;
  margin-left: 21px;
}

#subway-words-both-legend {
  font-size: 10px;
  font-family: sans-serif;
  color: black;
  font-weight: bold;
  position: absolute;
  top: 165px;
  margin-left: 55px;
  letter-spacing: 1.5px;
  display: block;
}

#park-words-both-legend {
  font-size: 10px;
  font-family: sans-serif;
  color: black;
  font-weight: bold;
  position: absolute;
  top: 123px;
  margin-left: 20px;
  transform: rotate(-90deg);
  letter-spacing: 3px;
}

#park-only-legend-vals {
  display: none;
  font-size: 11px;
  font-family: sans-serif;
  color: black;
  position: absolute;
  top: 95px;
  margin-left: 2px;
}

#subway-only-legend-vals {
  display: none;
  font-size: 11px;
  font-family: sans-serif;
  color: black;
  position: absolute;
  top: 143px;
  margin-left: 2px;
}
